@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
  margin: 0;
  background-color: #202530;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666E80;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #666E80;
}

.separator:not(:empty)::before {
  margin-right: 2.5em;
}

.separator:not(:empty)::after {
  margin-left: 2.5em;
}

/* The container */
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #333B4D;
  border-radius: 15%;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background: linear-gradient(to right, #F9E9AD , #FACD7F)
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background: linear-gradient(to right, #F9E9AD , #FACD7F)
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #13151D;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #181C24;
  padding: 15px;
  border: 1px solid #666E80;
  border-radius: 5px;
}


/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #666E80;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 14px;
  background-color: #13151D;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  background: linear-gradient(to right, #F9E9AD , #FACD7F);
  border: 0;
}



/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;

}

.checkmark-radio:hover {
  border: 0;
}
.checkmark-radio input:checked ~ .checkmark-radio:after {
  border: 0;
}



/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
  display: block;
  
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
  left: 9px;
  top: 5px;
  width: 4px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}