@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.Header {
    padding-left: 15%;
    padding-right: 15%;
    padding-top:20px;
    background-color: #202530;
    color: white;
    height: 500px;
}

input[type='text'] { 
    font-size: 14px;
    font-weight: normal;
 }

 input[type='password'] { 
    font-size: 14px;
    font-weight: normal;
 }